.dropmenu {
    cursor: pointer;
}

.dropcontent{
    display: none;
}

.dropmenu:hover span{
    color: #B91C1C;
}

.dropmenu:hover .dropcontent{
    display: block !important;
}

#sidebar {
    display: none;
}


/* Menu */
.treemenu {
    display: none;
}

.active {
    display: block;
}

.tabs {
    display: none;
}

.tabs.active{
    display: block !important;
}