body{
    background-color: #F3F4F6;
    font-size: 14px;
}

.menu-side{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box; 
}

/* .menu-side ul{
    white-space:nowrap;
}
.menu-side ul li{
    display:inline;
} */



#scroll::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: #D1D5DB;
}

.treemenu {
    display: none;
}

.treemenu-lv2{
    display: none;
}

.active {
    display: block;
}

.text-active {
    color: #3B82F6;
}

.text-active i{
    color: #3B82F6 !important;

}

.bubble-notif {
    font-size: 8px;
}

.dropmenu{
   cursor: pointer;
}

.dropcontent {
    position: absolute;
    z-index: 1;
    display: none;
}

.dropmenu:hover .dropcontent{
    display:  block !important;
}

.show-dropdown {
    display: block;
}

/* Modal */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tabs {
    display: none;
}

.tabs.active{
    display: block !important;
}

.invalid{
    border: 1px solid #DC2626;
}