@tailwind base;
@tailwind components;

.wrapper{
    @apply flex;
}

.title-menu {
    @apply text-gray-300;
}

.menu-content {
    @apply py-2 px-4;
}

.breadchumb{
    @apply py-2 px-4 bg-white mx-16 rounded-md shadow-sm border border-gray-200 -mt-6;
}

.main-content{
    @apply my-4 mx-4;
}


.card{
    @apply bg-white rounded-md;
}

.card-header{
    @apply border-b-2 border-gray-100;
}

.title-header{
    @apply py-3 px-6 flex items-center font-semibold text-lg;
}

.card-body{
    @apply py-6 px-8;
}

.btn {
    @apply py-2 px-6 capitalize font-semibold rounded-md focus:outline-none;
}

.btn-primary{
    @apply bg-blue-500 text-white hover:bg-blue-400;
}

.btn-secondary{
    @apply border border-gray-200 hover:bg-gray-100;
}

.btn-success{
    @apply bg-green-500 text-white hover:bg-green-400;
}

.btn-danger {
    @apply bg-red-500 text-white hover:bg-red-400;
}

.btn-warning {
    @apply bg-yellow-500 text-white hover:bg-yellow-400;
}

.btn-outline-primary {
    @apply border border-blue-500 hover:bg-blue-400 hover:border-blue-400 hover:text-white rounded-md;
}

.btn-outline-success {
    @apply border border-green-500 hover:bg-green-400 hover:border-green-400 hover:text-white rounded-md;
}

.btn-outline-red {
    @apply border border-red-500 hover:bg-red-400 hover:border-red-400 hover:text-white rounded-md;
}

.btn-outline-warning {
    @apply border border-yellow-500 hover:bg-yellow-400 hover:border-yellow-400 hover:text-white rounded-md;
}

.active-tab {
    @apply border-b-2 border-blue-500 font-semibold;
}

@tailwind utilities;